.navbar-container {
  width: 100vw;
  height: 64px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}
.navbar-inner-container {
  width: 100%;
  padding: 0 32px;
  max-width: 1536px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.navbar-access-container {
  display: flex;
  gap: 16px;
}
.navbar-link {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin-left: 32px;
}
.navbar-link:hover {
  text-decoration: underline;
}
