.Who {
  color: black;
  margin: 32px;
  font-size: 24px;
}
header h1 {
  font-size: 24px;
}
header h2 {
  font-size: 32px;
  text-align: center;
}
.Who-p {
  margin: 68px;
  font-size: 18px;
}
.Who-img {
  display: flex;
  justify-content: space-around;
}

.Who-imgMig {
  display: flex;
}
.profile-card {
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  width: 300px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.profile-card header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-bio {
  margin: 5px;
  text-align: center;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .Who-img {
    flex-direction: column;
    align-items: center;
  }
  .profile-card {
    margin-bottom: 32px;
  }
}
