.App-footer {
  bottom: 0;
  max-height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}

.App-footer p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-right: 32px;
  color: white;
  font-size: 16px;
}
.footer-link {
  color: white;
  text-decoration: none;
  background-color: transparent;
  border: none;
  font-size: 24px;
  margin-left: 32px;
}
.footer-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 600px) {
  .App-footer {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    margin: 0;
  }

  .App-footer p {
    margin: 0;
  }

  .footer-link {
    margin: 0;
  }
}

@media screen and (max-width: 300px) {
  .App-footer p {
    margin: 0;
    font-size: 8px;
  }

  .footer-link {
    margin: 0;
    font-size: 16px;
  }
}
