.App {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-header {
  background-color: #fdfd96;
  width: 100vw;
  color: black;
  position: absolute;
  top: 0;
  border-bottom: 2px black solid;
}
.App-main {
  color: black;
}
.App-footer {
  color: black;
  bottom: 0;
  position: absolute;
}
