:root {
  --primary-color: #1d6a63;
  /* #0f3b37; */
}
.App-container {
  background-color: white;
  min-height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 3rem; */

  font-size: calc(10px + 2vmin);
  /* color: white; */
}
/* img {
  object-fit: cover;
  width: 100%;
  height: 100%;
} */
/* .App-header {
  grid-area: header;
}
.App.main {
  grid-area: main;
}
.App-footer {
  grid-area: footer;
} */
