.register-button-text {
  margin: 0;
  font-size: 14px;
}

.register-main {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: 64px auto;
  background-color: #ccc;
}
form input[type="Apodo"],
form input[type="Name"],
form input[type="LastName"],
form input[type="email"],
form input[type="password"] {
  width: 100%;
  /* padding: 3px 10px; */
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="Bio"] {
  width: 100%;
  height: 300px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  resize: none;
  overflow: scroll;
  vertical-align: bottom;
}
