input[type="email"],
input[type="password"] {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  font-family: "SecularOne-Regular";
}
.login-main {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: 128px auto;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

@media screen and (max-width: 300px) {
  .login-main {
    width: 90%;
  }
}
