.userInfo-container {
  width: 500px;
  border: 3px solid var(--primary-color);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 128px auto;
}
.userInfo-container-target {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.userInfo-button {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.userInfo-p {
  margin: 12px;
  word-break: break-word;
}

@media screen and (max-width: 600px) {
  .userInfo-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 16px;
  }
}

@media screen and (max-width: 300px) {
  .userInfo-container-target {
    width: 90%;
  }
}
